@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap");
@keyframes logo-pulse {
  from {
    height: 65%;
  }
  to {
    height: 75%;
  }
}
@keyframes about-us-img-tilt {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(3deg);
  }
}
@keyframes robot-header-color-pulse {
  from {
    background: #ec1c24;
  }
  to {
    background: #f7941d;
  }
}
* {
  font-family: "Montserrat", sans-serif;
  font-size: 110px;
  margin: 0;
  padding: 0;
  text-align: center;
}
*::-moz-selection {
  background: rgba(255, 255, 255, 0.25);
}
*::selection {
  background: rgba(255, 255, 255, 0.25);
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

#full-header {
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-start;
  background: rgba(39, 39, 41, 0.8);
  border: 2px white solid;
  height: 7.5%;
  left: 10px;
  padding: 5px;
  position: fixed;
  top: 10px;
  width: 50%;
}
#full-header img {
  aspect-ratio: 1;
  height: 100%;
}
#full-header hr {
  height: 70%;
}
#full-header a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 15%;
  height: 80%;
  text-decoration: none;
  transition: color 0.2s, font-size 0.2s;
  width: 20%;
}
#full-header a:hover {
  color: #f7941d;
  font-size: 16%;
}
#full-header #logo {
  width: 10%;
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  background: url("../../public/assets/main_background.png"), linear-gradient(#ec1c24 0%, #f7941d 100%) fixed;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100vw;
}
main div {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  flex-direction: column;
  height: 50%;
  width: 50%;
}
main div h1 {
  border: 3px white solid;
  border-top-right-radius: 30px;
  border-bottom-left-radius: 30px;
  padding: 20px;
  line-height: 100px;
  background: -webkit-linear-gradient(#fff, #fff);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
main div p {
  font-size: 30%;
  font-weight: 300;
  padding: 4px;
}
main img {
  animation: 10s ease-in-out alternate infinite logo-pulse;
  aspect-ratio: 1;
  height: 60%;
  left: 50%;
  opacity: 0.2;
  pointer-events: none;
  position: absolute;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
}

#about-us {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../../public/assets/svg/checkered_bg.svg");
  background-attachment: fixed;
  height: 75vh;
}
#about-us #description, #about-us #photos {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 80%;
  width: 40%;
}
#about-us #description hr, #about-us #photos hr {
  margin: 20px;
  width: 80%;
}
#about-us #description p, #about-us #photos p {
  font-size: 25%;
  padding-bottom: 5px;
  padding-top: 5px;
}
#about-us #description b, #about-us #photos b {
  font-size: 100%;
}
#about-us #description span, #about-us #photos span {
  border-bottom-left-radius: 10px;
  border-top-right-radius: 10px;
  font-size: 100%;
  padding: 4px;
}
#about-us #description .red, #about-us #photos .red {
  background: rgba(236, 28, 36, 0.2);
}
#about-us #description .orange, #about-us #photos .orange {
  background: rgba(247, 148, 29, 0.2);
}
#about-us #description .grey, #about-us #photos .grey {
  background: rgba(39, 39, 41, 0.2);
}
#about-us #description img, #about-us #photos img {
  animation: 2s ease-in-out alternate infinite about-us-img-tilt;
  aspect-ratio: 1;
  height: 120%;
}

#robots {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: 60vh;
}
#robots h1 {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: 5s linear alternate infinite robot-header-color-pulse;
  color: white;
  font-size: 20%;
  height: 15%;
  position: relative;
  width: 100%;
}
#robots h1 img {
  aspect-ratio: 1;
  height: 50%;
}
#robots h1::before {
  display: flex;
  justify-content: center;
  align-items: center;
  content: "Previous Robots 🤖";
  background: linear-gradient(90deg, #272729 0%, transparent 100%);
  height: 100%;
  position: absolute;
  width: 100%;
}
#robots #bots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 85%;
  width: 100%;
}
#robots #bots-container a {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #272729;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  flex-direction: column;
  position: relative;
  transition: background 0.2s, width 0.2s;
  border: 0;
  height: 100%;
  width: 20%;
}
#robots #bots-container a h2, #robots #bots-container a h3, #robots #bots-container a p {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  pointer-events: none;
  transition: opacity 0.2s, width 0.2s;
}
#robots #bots-container a h2, #robots #bots-container a h3 {
  height: 10%;
}
#robots #bots-container a h2 {
  border: 1px white solid;
  border-bottom-left-radius: 15px;
  border-top-right-radius: 15px;
  font-weight: 500;
  font-size: 40%;
  padding: 8px;
}
#robots #bots-container a h3 {
  font-weight: 300;
  font-size: 20%;
}
#robots #bots-container a h3::after {
  content: "+";
  color: #f7941d;
  font-weight: 800;
}
#robots #bots-container a p {
  font-size: 15%;
  transform: translateY(-50%);
  top: 50%;
  opacity: 0;
  position: absolute;
  width: 80%;
}
#robots #bots-container a:hover {
  background: #ec1c24;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 30%;
}
#robots #bots-container a:hover h2, #robots #bots-container a:hover h3 {
  opacity: 0;
}
#robots #bots-container a:hover p {
  opacity: 1;
  width: 53.33%;
}
#robots #bots-container #aurora {
  background-image: url("../../public/assets/robots/aurora.png");
}
#robots #bots-container #liesma {
  background-image: url("../../public/assets/robots/liesma.png");
}
#robots #bots-container #sol {
  background-image: url("../../public/assets/robots/sol.png");
}/*# sourceMappingURL=style.css.map */