@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700&display=swap');

@mixin flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

$fyre-red: #ec1c24;
$fyre-orange: #f7941d;
$grey: #272729;

$fyre-red-tns: rgb(236 28 36 / 0.2);
$fyre-orange-tns: rgb(247 148 29 / 0.2);
$fyre-grey-tns: rgb(39 39 41 / 0.2);

$header-grey: rgb(39 39 41 / 0.8);


@keyframes logo-pulse {
    from { height: 65% }
    to { height: 75% }
}

@keyframes about-us-img-tilt {
    from { transform: rotateZ(0deg) }
    to { transform: rotateZ(3deg) }
}

@keyframes robot-header-color-pulse {
    from { background: $fyre-red; }
    to { background: $fyre-orange; }
}

body {
    width: 100%;
}

* {
    font-family: 'Montserrat', sans-serif;
    font-size: 110px;
    margin: 0;
    padding: 0;
    text-align: center;

    &::selection {
        background: rgb(255 255 255 / 0.25);
    }
}

html { scroll-behavior: smooth; }
body { overflow-x: hidden; }

main .container {
    @include flex;
    flex-direction: column;
    width: 100vw;
    
    #full-header {
        @include flex;
        justify-content: flex-start;
        
        background: $header-grey;
        border: 2px white solid;
        height: 7.5%;
        left: 10px;
        padding: 5px;
        position: fixed;
        top: 10px;
        width: 600px;
        z-index: 10000;

        img {
            aspect-ratio: 1;
            height: 100%;
        }

        hr { height: 70%; }

        a {
            @include flex;

            color: white;
            font-size: 15%;
            height: 80%;
            text-decoration: none;
            transition: color 0.2s, font-size 0.2s;
            width: 20%;

            &:hover { 
                color: $fyre-orange;
                font-size: 16%; 
            }
        }

        #logo { width: 10%; }
    }

    #title {
        @include flex;

        background: url("../../public/assets/main_background.png"), linear-gradient($fyre-red 0%, $fyre-orange 100%) fixed;
        background-position: center center;
        background-repeat: no-repeat;
        background-size: cover;
        overflow-x: hidden;
        
        height: 100vh;
        width: 100%;

        div {
            @include flex;

            color: white;
            flex-direction: column;
            height: 50%;
            white-space: nowrap;
            width: 50%;

            h1 {
                border: 3px white solid;
                border-top-right-radius: 30px;
                border-bottom-left-radius: 30px;
                padding: 20px;
                line-height: 100px;

                background: -webkit-linear-gradient(#fff, #fff);
                background-clip: text;
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
            }

            p {
                font-size: 30%;
                font-weight: 300;
                padding: 4px;
            }
        }

        img {
            animation: 10s ease-in-out alternate infinite logo-pulse;
            aspect-ratio: 1;
            left: 50%;
            opacity: 0.2;
            pointer-events: none;
            position: absolute;
            top: 50%;
            transform: translateX(-50%) translateY(-50%);
        }
    }

    #about-us {
        @include flex;

        background-image: url("../../public/assets/svg/checkered_bg.svg");
        background-attachment: fixed;
        height: 75vh;
        overflow-x: hidden;
        overflow-y: hidden;
        width: 100%;

        #description, #photos {
            @include flex;
            flex-direction: column;

            height: 80%;
            width: 40%;

            hr {
                margin: 20px;
                width: 80%;
            }

            p { 
                font-size: 25%; 
                padding-bottom: 5px;
                padding-top: 5px;       
            }
            b { font-size: 100% }

            span { 
                border-bottom-left-radius: 10px;
                border-top-right-radius: 10px;
                font-size: 100%; 
                padding: 4px;
            }

            .red { background: $fyre-red-tns; }
            .orange { background: $fyre-orange-tns; }
            .grey { background: $fyre-grey-tns; }

            img {
                animation: 2s ease-in-out alternate infinite about-us-img-tilt;
                aspect-ratio: 1;
                width: 100%;
            }
        }
    }

    #robots {
        @include flex;
        flex-direction: column;
        height: 60vh;
        width: 100%;

        h1 {
            @include flex;

            animation: 5s linear alternate infinite robot-header-color-pulse;
            color: white;
            font-size: 20%;
            height: 15%;
            position: relative;
            width: 100%;

            img {
                aspect-ratio: 1;
                height: 50%;
            }

            &::before {
                @include flex;

                content: 'Previous Robots 🤖';
                background: linear-gradient(90deg, $grey 0%, transparent 100%);;
                height: 100%;
                position: absolute;
                width: 100%;
            }
        }

        #bots-container {
            @include flex;

            height: 100%;
            width: 100%;

            a {
                @include flex;
                background: $grey;
                background-position: center center;
                background-repeat: no-repeat;
                background-size: cover;

                flex-direction: column;
                position: relative;
                transition: background 0.2s, width 0.2s;
        
                border: 0;
                height: 100%;
                width: 20%;
        
                h2, h3, p {
                    @include flex;

                    color: white; 
                    pointer-events: none;
                    transition: opacity 0.2s, width 0.2s;
                }

                h2, h3 { height: 10%; }
                h2 { 
                    background: linear-gradient(80deg, $fyre-red-tns 0%, $fyre-orange-tns 100%);
                    border: 1px white solid;
                    border-bottom-left-radius: 15px;
                    border-top-right-radius: 15px;
                    font-weight: 500;
                    font-size: 30%; 
                    padding: 8px;
                    overflow: hidden;
                    width: 80%;
                }
                h3 { 
                    font-weight: 300;
                    font-size: 20%;
                    
                    &::after {
                        content: '+';
                        color: $fyre-orange;
                        font-weight: 800;
                    }
                }

                p { 
                    font-size: 15%;
                    transform: translateY(-50%);
                    top: 50%;
                    opacity: 0;
                    position: absolute;
                    width: 80%;
                }

                &:hover {
                    background: $fyre-red;
                    background-position: center center;
                    background-repeat: no-repeat;
                    background-size: cover;

                    width: 30%;

                    h2, h3 { opacity: 0; }
                    p { 
                        opacity: 1; 
                        width: 53.33%;
                    }
                }
            }

            #aurora { background-image: url("../../public/assets/robots/aurora.png") }
            #billy { background-image: url("../../public/assets/robots/billy.png") }
            #ignis { background-image: url("../../public/assets/robots/ignis.png") }
            #liesma { background-image: url("../../public/assets/robots/liesma.png") }
            #matchbox { background-image: url("../../public/assets/robots/matchbox.png") }
            #sol { background-image: url("../../public/assets/robots/sol.png") }
        }
    }

    #contact {
        @include flex;

        background-image: url("../../public/assets/svg/checkered_bg.svg");
        background-attachment: fixed;
        height: 65vh;
        width: 100%;

        #join-us, #sponsors {
            @include flex;
            flex-direction: column;

            height: 100%;
            margin: 5%;
            width: 40%;

            h1 {
                color: $fyre-red;
                font-size: 45%;
            }

            hr {
                margin: 5%;
                width: 80%;
            }

            p { font-size: 25%; }
            a, a:visited { 
                color: rgb(68, 125, 216);
                font-size: 100%; 
                text-decoration: none;
                transition-duration: 0.25s;

                &:hover {
                    color: rgb(166, 122, 242);
                    text-shadow: 0px 0px 10px rgb(166 122 242 / 0.5);
                }
            }
        }

        #sponsors {
            h1 {
                color: $fyre-orange;
            }

            h3 {
                margin: 3%;
                font-size: 15%;
            }
        }
    }

    #footer {
        @include flex;
        
        background-color: $grey;
        background-position-x: 50%;
        background-size: cover;

        background-image: url("../../public/assets/fyre_banner.png");
        height: 50vh;
        justify-content: flex-start;
        width: 100%;

        #links {
            height: 100%;
            width: 30%;
        }
    }
} 

@media screen and (max-width: 800px) {
    main .container {
        #title {
            div {
                h1 {
                    font-size: 60%;
                }

                p {
                    font-size: 20%;
                }
            }

            img {
                width: 0%;
            }
        }

        #robots {
            height: 100vh;

            h1 {
                height: 10%;
            }

            #bots-container {
                flex-direction: column;
                
                a {
                    height: 20%;
                    width: 100%;

                    h2 {
                        height: 30%;
                        margin: 5px;
                        width: 40%;
                    }

                    &:hover {
                        width: 100%;
                    }
                }
            }
        }

        #contact {
            flex-direction: column;
            height: 100vh;

            #join-us, #sponsors {
                font-size: 90%;
                height: 50%;
                width: 85%;
            }
        }
    }
}

@media screen and (max-width: 1000px) {
    main .container {
        #about-us {
            #description {
                width: 70%;

                p {
                    font-size: 22.5%;
                }
            }

            #photos {
                width: 0%;

                img {
                    height: 0%;
                }
            }
        }

        #robots {

        }
    }
}

/*
* {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
}
*/